{% extends 'base.html.twig' %}

{% block title %}Votre projet{% endblock %}

{% block body %}

{{ form_start(magForm) }}
<br>
<br>
<br>
<br>

<main class="container">

    <h1 class="titre_form">Et si vous partagiez votre projet avec nous ?</h1>

    <section id="sectionformmag">
        <div id="page_login2">
            {{ form_row(magForm.sujet, {'label' : false}) }}
            {{ form_errors(magForm.sujet) }}
            {{ form_widget(magForm.sujet) }}

            {{ form_row(magForm.telephone, {'label' : false}) }}
            {{ form_widget(magForm.telephone) }}

            {{ form_row(magForm.projet, {'label' : false}) }}
            {{ form_errors(magForm.projet) }}
            {{ form_widget(magForm.projet) }}

            {{ form_row(magForm.imageFile, {'label' : false}) }}
            {{ form_errors(magForm.imageFile) }}
            {{ form_widget(magForm.imageFile) }}


            {{ form_widget(magForm) }}
            <input type="submit" class="button_submit" value="Soumettre">
            {{ form_end(magForm) }}

        </div>
    </section>
</main>

<br> <br> <br> <br>
{% endblock %}