{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

        
<form class="text-center1 border border-dark p-5">  
   
<!--
    <fieldset class="form-group">
       <legend class="col-form-label">Vous êtes :</legend>
          
          
           <div id="app_user_registration_roles" >
               <div class="form-check form-check-inline" >        
                   <input  
                   id="app_user_registration_roles_0" 
                   name="app_user_registration[roles][]" 
                   class="form-check-input" 
                   value="ROLE_MAGASIN" 
                   type="radio" 
                   onclick="afficher()"
                   checked/>
                   <label class="form-check-label" for="app_user_registration_roles_0">Un magasin</label>
                </div>
                         
                <div class="form-check form-check-inline" >        
                   <input 
                   id="app_user_registration_roles_1" 
                   name="app_user_registration[roles][]" 
                   class="form-check-input" 
                   value="ROLE_CLIENT" 
                   type="radio" 
                   onclick="effacer()"
                   >
                    <label class="form-check-label" for="app_user_registration_roles_1">Un particulier</label>
                </div>
            </div>
    </fieldset>
        
-->

        <div class="form-row">
            <div class="col">
            
            {{ form_row(registrationForm.nom, {'label' : false})}}
            {{ form_widget(registrationForm.nom) }}
            </div>
            
         
            <div class="col">
                <p>{{ form_widget(registrationForm.raisonSociale) }}</p>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
            {{ form_row(registrationForm.ville, {'label' : false})}}
            {{ form_widget(registrationForm.ville) }}
            </div>

            <div class="col">    
            {{ form_row(registrationForm.email, { 'attr': {'placeholder': "e-mail" }}) }}
            {{ form_widget(registrationForm.email) }}
            </div>
        </div>
       

          
    {{ form_widget(registrationForm) }}
        <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}"/>    
    {{ form_end(registrationForm) }}


{% endblock %}
