{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<br> <br> <br> <br>

<main class="container"> 

    {{ form_start(form) }}

    <h1 class="titre_form">Modification de votre profil</h1> 

    <div id="page_login">  
        <fieldset class="form-group">
            <legend class="col-form-label">Vous êtes :</legend>

            <div id="account_roles" >
                <div class="form-check form-check-inline" >        
                    <input  
                           id="account_roles_0" 
                           name="account[roles]" 
                           class="form-check-input" 
                           value="ROLE_MAGASIN" 
                           type="radio" 
                           onclick="afficher2()"
                           checked/>
                    <label class="form-check-label" for="account_0">Un magasin</label>
                </div>

                <div class="form-check form-check-inline" >        
                    <input 
                           id="account_roles_1" 
                           name="account[roles]" 
                           class="form-check-input" 
                           value="ROLE_CLIENT" 
                           type="radio" 
                           onclick="effacer2()"
                           >
                    <label class="form-check-label" for="account_1">Un particulier</label>
                </div>
            </div>
        </fieldset>

        <div class="form-row">
            <div class="col">
                {{ form_row(form.username, {'label' : "Nom"})}}
                {{ form_widget(form.username) }}
            </div>

            <div class="col">
                {{ form_row(form.raisonSociale, {'label' : "Magasin"}) }}
            </div>
        </div>

        <br>

        <div class="form-row">
            <div class="col">
                {{ form_row(form.ville, {'label' : "Ville"})}}
                {{ form_widget(form.ville) }}
            </div>

            <div class="col">    
                {{ form_row(form.email, {'label' : "Email"}) }}
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="d-flex">
            <div>
                <!-- Reset password -->
                <a href="{{ path('app_reset_password_connected') }}">Changer votre mot de passe</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Mettre à jour</button>

        <br>

<!--
{{ form_row(form.roles, {'label' : false})}}
{{ form_widget(form.roles)}}
-->

        {{ form_end(form) }}

    </div>
</main>

<br> <br> <br> <br> 
{% endblock %}